.hamburger {
  @include box(2.7rem);

  @include flex;
  gap: 0.3rem;
  flex-wrap: wrap;

  & span {
    @include flex;
    border: 0.1rem solid $color;
    border-radius: 999px;
    @include box(0.5rem);
    transition: all 0.3s ease-in-out;
  }

  &:hover &-hover {
    color: $background-color;
    border-color: $background-color;
  }

  &:hover &-hover.unhide-visibility {
    border-color: $color;
  }
}
