.hamburger {
  @include box(1.5rem);

  @include flex;
  gap: 0.2rem;
  flex-wrap: wrap;

  & span {
    @include flex;
    border: 0.126rem solid $nav-color;
    border-radius: 999px;
    @include box(0.08rem);
  }
}
