@import "./cores";
@import "./components";

body {
  background-color: $background-color;
  color: $color;

  @include reset;
  overflow-x: hidden;

  font-family: "Text";

  & h1 {
    font-size: $h1;
    font-family: "Header";
  }
  & h2 {
    font-size: $h2;
    font-family: "SubHeader";
  }
  & h3 {
    font-size: $h3;
  }
  & h4 {
    font-size: $h4;
  }
  & h5 {
    font-size: $h5;
  }
  & h6 {
    font-size: $h6;
  }

  & p {
    font-size: $small;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    outline: none;
    /* Additional styles if needed */
  }
}

li {
  list-style: none;
}

.hide {
  display: none;
}

.hide-visibility {
  visibility: hidden;
}
