.theme {
  &__icon {
    color: $medium;
    transition: transform 0.3s ease;
    font-size: $small;
    width: 2rem;
  }
  &__icon:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: translateY(1px);
  }
}
