.theme {
  &__icon {
    color: $nav-color;
    transition: transform 0.3s ease;
    font-size: $small;
    width: 2rem;
  }
  &__icon:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: translateY(1px);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: $color;
    background-color: $background-color;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: $background-color;
    background-color: $light;
    $nav-color: red;
  }
}

.overrideLight {
  color: $background-color;
  background-color: $medium;
  $nav-color: red;
}

.overrideDark {
  color: $color;
  background-color: $background-color;
}
