.underline {
  @include flex(row);
  gap: 0.6rem;
  position: relative;

  font-size: $h6;

  &::before {
    content: "";
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: $color;
    transition: width 0.4s ease;
  }

  &:hover::before {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .underline {
    font-size: $h5;
  }
}
