.nav {
  @include flex(row, space-between, center);
  margin: 1rem;

  font-size: $small;
  color: $medium;

  position: absolute;
  top: 0;
  width: 96%;
  z-index: 100;

  &__logo {
    font-size: $h4;
  }

  &__items {
    @include flex(row, space-between, center);
    gap: 1rem;
    margin: 0 2rem;
  }
}

@media (min-width: 500px) {
  .nav {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}
